.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(10, auto);
    background-color: aqua;
}

.header{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: brown;
}

.nav{
    background-color: blueviolet;
    grid-column: 1/3;
    grid-row: 2/3;
}

.section{}

.sidebar{}

.fooster{}